.container_wavyBack{
  display: flex;
  width: 100%;
  height: 100vh;
}

.container_wavyBack_left{
  background: #edf2f4;
  height: 100%;
  width: 50%;
}

.container_wavyBack_right{
  background: white;
  height: 100%;
  width: 50%;

}

.container_wavyBack_right img{
height: -webkit-fill-available;
position: relative;
right: 96px;
}
